<h1>See the events happening soon</h1>
<% @events.upcoming.each do |event| %>
    <p> <strong> <%= event.name %> </strong> | at: <%= event.date %> </p>
    <%= link_to 'More info', event_path(event.id) %>
    <hr>
<% end %>
<h2>Events that happend recently</h2>
<% @events.past.each do |event| %>
    <p> <strong> <%= event.name %> </strong> | at: <%= event.date %> </p>
    <%= link_to 'More info', event_path(event.id) %>
    <hr>
<% end %>
<% unless @user_signed_in %>
    <%= link_to 'Sign in', new_user_session_path %>
    <%= link_to 'Sign up', new_user_registration_path %>
<% else %>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    <%= link_to "Profile", users_path(@current_user.id) %>
<% end %>